/_build/
/deps/
/doc/
/cover/
**/_build/
**/deps/
**/doc/
**/cover/
*.ez
*.beam
erl_crash.dump
/grasp/priv/static/assets/
/grasp/assets/node_modules/
.grasp/
.DS_Store
.superpowers/
/grasp/tmp/
/grasp_index/tmp/
