<!DOCTYPE html>
<html lang="en" phx-socket={live_socket_path(@conn)}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={Plug.CSRFProtection.get_csrf_token()} />
    <title>Grasp</title>
    <link phx-track-static rel="stylesheet" href={asset_path(@conn, "grasp.css")} />
    {raw("<style>" <> theme_css() <> "</style>")}
    <script defer phx-track-static type="text/javascript" src={asset_path(@conn, "grasp.js")}>
    </script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
